In [170]:
import pandas as pd
import numpy as np

mc_data = pd.read_csv("piracydataset.csv", sep=',')
movie_data = pd.read_csv("movies_dataset.csv", sep=',')


#Minecraft Piracy Dataset
#Drop residual column
mc_data.drop(columns=['Unnamed: 0'])
#Because the individual usernames are not relevant to the analysis, drop them
#mc_data.drop(columns=['discordid', 'minecraftid']) 

#Movie Piracy Database
movie_data = movie_data.drop(columns=['Unnamed: 0','id'])
movie_data = movie_data.drop(columns=['storyline', 'writer', 'director'])
movie_data = movie_data.drop(columns=['run_time'])

#There is a significant amount of null data in the dataframe
na_counts = movie_data.isna().sum()

movie_data.head()

,IMDb-rating,appropriate_for,downloads,industry,language,posted_date,release_date,title,views
0,4.8,R,304,Hollywood / English,English,"20 Feb, 2023",Jan 28 2023,Little Dixie,"2,794"
1,6.4,TV-PG,73,Hollywood / English,English,"20 Feb, 2023",Feb 05 2023,Grilling Season: A Curious Caterer Mystery,"1,002"
2,5.2,R,"1,427",Hollywood / English,"English,Hindi","20 Apr, 2021",Jun 18 2021,In the Earth,"14,419"
3,8.1,NaN,"1,549",Tollywood,Hindi,"20 Feb, 2023",Feb 17 2023,Vaathi,"4,878"
4,4.6,NaN,657,Tollywood,Hindi,"20 Feb, 2023",Jan 26 2023,Alone,"2,438"

In [174]:


#There is a significant amount of null data in the dataframe

#Find NaN count by column
na_counts = movie_data.isna().sum()
#print(na_counts)

industries = movie_data['industry'].unique()
industries = [x for x in industries if str(x) != 'nan']

movies_by_industry = movie_data.groupby('industry')

industry_hash = {}

#create individual dataframes by industry and put them into a hashmap
for industry in industries:
    industry_hash[industry] = movies_by_industry.get_group(industry)

na_by_industry = {}
    
for industry in industries:
    appropriate_column = industry_hash[industry]['appropriate_for']
    temp_na_percentage = round(appropriate_column.isna().sum()/appropriate_column.size * 100, 3)
    na_by_industry[industry]= temp_na_percentage

industry_percentage = {}

for industry in industries:
        percentage = round(industry_hash[industry].size/movie_data.size * 100, 3)
        industry_percentage[industry] = percentage

industry_percentage

{'Hollywood / English': 71.292,
 'Tollywood': 5.704,
 'Wrestling': 2.107,
 'Bollywood / Indian': 12.872,
 'Punjabi': 1.616,
 'Anime / Kids': 5.105,
 'Dub / Dual Audio': 0.219,
 'Pakistani': 0.448,
 'Stage shows': 0.628,
 '3D Movies': 0.005}